@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #535353;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  color: #121212;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 15px;
  max-width: 1320px;
  margin: 0 auto;
}

.book {
  width: calc(100% / 6);
  padding: 10px;
}

.book-inner {

  padding: 15px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  text-align: center;
  height: 100%;
}

.book img {
  margin-bottom: 15px;
  border-radius: 5px;
}

.book h4 {
  margin-bottom: 10px;
}


@media (max-width: 1199px) {
  .book {
    width: calc(100% / 4);
  }
}

@media (max-width: 991px) {
  .book {
    width: calc(100% / 3);
  }
}